.portafolio-details-page {
  margin-top: 15px;
  margin-bottom: 40px;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .current-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
  }
}