.App-header {

  a {
    text-decoration: none;
    color: white;
  }

  .App-header_loggin-button {
    color: white;
    border: 1px solid white;
  }
}

.App-header_menu-item {

  a {
    text-decoration: none;
    color: inherit;
  }
}