@import '../../../../styling/styles/variables';

.portafolio-investment-details {
  font-weight: 600;

  .info-title {
    color: $label-title-color;
    font-size: 0.9rem;
    margin-right: 15px;
  }

  .info-value {
    font-size: 1rem;
  }

}