.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

  .App-header{
    height: 10vh;
  }

  .App-content {
    height: 90vh;
    margin: 0 15px 0 15px;
  }
}

