.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

  .App-header{
    height: 10%;
    //position: sticky;
    //top: 0;
  }

  .App-content {
    height: 80%;
    margin: 0 15px 0 15px;
  }

  .App-footer {
    height: 10%;
  }
}

