@import './styling/styles/variables';

.App {
  display: flex;
  flex-direction: column;
  background-color: $base-backgorund-color;
  color: white;

  .App-content {
    margin: 0 15px 0 15px;
  }
}

