.login-page {
  margin-top: 15px;
  margin-bottom: 40px;

  .login-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title {
      text-align: center;
      font-size: 4rem;
      margin: 0;
    }
  }

  .login-brands {
    margin-top: 40px;
    justify-content: center;
    .logo-container {
      height: 5rem;
      width: 5rem;
    }
  }

}